body {
  font-family: arial black;
}
.q {
  margin-top:20%;
  font-size:16px;
}
.a1{
  font-size:14px;
  color:black;
  text-decoration: none;
  margin-left:10%;
  margin-right:10%;
  z-index:-1;
}
a {
  color:black;
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
.a2{
  font-size:14px;
  color:black;
  text-decoration: none;
  margin-left:10%;
  margin-right:10%;
  z-index:-1;
}
.next {
  position:fixed;
  bottom:0;
  right:0;
}
video {
  display: block; 
	width: auto; 
	margin: 0 auto;  
  justify-content:center;
}
p {
  margin-left:10%;
  margin-right:10%;
  z-index:-1;
}
h1 {
  margin-left:10%;
}