body {
  font-family: arial black;
  margin: 2em;
}
.q {
  margin-top:20%;
  font-size:16px;
}
.a1{
  font-size:14px;
  color:black;
  text-decoration: none;
}
a {
  color:black;
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
.a2{
  font-size:14px;
}
.next {
  position:fixed;
  bottom:0;
  right:0;
}